{% extends "appstore/base_appstore.html" %}
{% load thumbnail %}

{% block appstore_content %}
    <h3>Category: {{ appcategory.name }}</h3>
    <div class="applications">
        {% for app in appcategory.applications.all %}
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="{% thumbnail app.logo 80x80 crop="scale"%}">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ app.get_absolute_url }}">{{ app.name }}</a></h4>
                <p>{{ app.description }}</p>
            </div>
        </div>
        {% empty %}
            <p>There are no apps in this category!</p>
        {% endfor %}
    </div>
{% endblock %}
