{% extends "appstore/base_appstore.html" %}

{% block appstore_content %}
<h3>{{ application.name }}</h3>
<div class="row">
    <div class="span3">
        <img src="{{ application.logo.url }}" alt="{{ application.name }} logo"/>
    </div>
    <div class="span6">
        <p>{{ application.description }}</p>
        <dl>
            <dt>Author</dt>
            <dd>{{ application.author }}</dd>
            <dt>License</dt>
            <dd>{{ application.license_type }}</dd>
            <dt>Version</dt>
            <dd>{{ application.version }}</dd>
            <dt>Website</dt>
            <dd>{{ application.website|urlize }}</dd>
        </dl>
    </div>
</div>
{% endblock appstore_content %}