{% extends "appstore/base_appstore.html" %}

{% block appstore_content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis
        dolor doloribus explicabo inventore itaque neque porro reiciendis sed voluptates.
        Aliquam amet corporis laudantium nisi odio sequi vitae? Dolorem, enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis
        dolor doloribus explicabo inventore itaque neque porro reiciendis sed voluptates.
        Aliquam amet corporis laudantium nisi odio sequi vitae? Dolorem, enim.</p>
{% endblock appstore_content %}
