{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span3">
        <h2>Categories</h2>
        <ul>
            <li><a href="/appstore/cms/">CMS</a></li>
            <li><a href="/appstore/government/">Government</a></li>
        </ul>
    </div>
    <div class="span9">
        <h2>Welcome to the App Store!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis
            dolor doloribus explicabo inventore itaque neque porro reiciendis sed voluptates.
            Aliquam amet corporis laudantium nisi odio sequi vitae? Dolorem, enim.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis
            dolor doloribus explicabo inventore itaque neque porro reiciendis sed voluptates.
            Aliquam amet corporis laudantium nisi odio sequi vitae? Dolorem, enim.</p>
    </div>
</div>
{% endblock content %}

{% block nav-appstore-active %}
active
{% endblock %}